$('.new_comment').remove();
$(".comments-list").append("<li> <%= escape_javascript(render :partial => 'comments/comments_item', :locals => {:comment => @comment}).html_safe %> </li>");
$(".add-cmnt").removeClass('hidden');
