<li>
  <%= image_tag user_avatar(history.user.id, 'thumb'), :class => 'nav-avatar img-circle' %>
  <%= history.user.name %>
</li>
<li>
  <b> <% @str = history.context.to_s.html_safe %>
    <%= @str  %>
  </b>
  <label class='label-success label pull-right'> <%= history.created_at %> </label>

  <div class='clearfix'></div>
</li>