<li>
  <% if history.user.image? %>
      <%= image_tag(history.user.image_url(:small_thumb), :class => 'nav-avatar img-circle')%>
  <%else%>
      <img src="/assets/default_user_icon.png" class="nav-avatar img-circle" alt="default"/>
  <%end%>
   <%= history.user.name %>
</li>
<li>
  <b> <%= history.context.to_s.html_safe %> </b>
  <label class='label-success label pull-right'> <%= history.created_at %> </label>

  <div class='clearfix'></div>
</li>