<span class='assigned-people' data-assigned-user-id="<%= @user.id %>" data-assigned-name="<%= @user.name %>">
  <%= image_tag(@user.image.present? ? @user.image_url(:small_thumb) : 'default_user_icon.png', :id => "assign-user-#{@user.id}-#{@task.id}", :class => 'nav-avatar') %>
</span>