<span class='assigned-people' data-assigned-id="<%= @user.id %>" data-assigned-name="<%= @user.name %>">
  <%= image_tag(@user.image.present? ? @user.image_url(:small_thumb) : 'default_user_icon.png', :id => @user.id, :class => 'nav-avatar') %>
</span>