<div class="comments-item-wrapper">
  <div class="content-left pull-left">
     <%= image_tag(current_user.image_url(:small_thumb)) %>
  </div>
  <div class="content-right pull-left">
    Comments content 1
  </div>
  <div class="clearfix"></div>
</div>