<div class="edit-wrapper">
  <div class="write-edit">
    <textarea style="" class="edit_input jqte-reply"></textarea>
  </div>
  <div class="pull-right button-padding">
    <button type="button" id="editbtn" class="btn btn-primary">Save</button>
  </div>
  <div class="clearfix"></div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('.jqte-reply').jqte();
    });
</script>