<% @notifications.each do |notification| %>
    <li data-task-id="<%= notification.task_id %>" data-project-id="<%= notification.task.project_id %>">
      <a href="<%= project_task_path(notification.task.project_id, notification.task_id) %>">
        <%= notification.inspect %>
      </a>
    </li>
<% end %>
