<div class="reply-wrapper">
  <div class="write-reply">
    <textarea style="" class="reply_input jqte-reply"></textarea>
  </div>
  <div class="pull-right button-padding">
    <button type="button" id="btn" class="btn btn-primary">Save</button>
  </div>
  <div class="clearfix"></div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('.jqte-reply').jqte();
    });
</script>