<div class="reply-wrapper">
  <div class="write-reply">
    <textarea class="reply_input jqte-reply"></textarea>
  </div>
  <div class="pull-right button-padding">
    <button type="button" id="cancel-reply" class="btn btn-default">Cancel</button>
    <button type="button" id="save-reply" data-task-id="<%= task.id %>" class="btn btn-default">Save</button>
  </div>
  <div class="clearfix"></div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('.jqte-reply').jqte();
    });
</script>