<div class='modal fade' id='x-large-modal'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <button aria-hidden='true' data-dismiss='modal' class='close custom-modal-close' type='button'><%= image_tag('modal_close.png') %></button>
      <div class='modal-body'>
        <p>One fine body&hellip;</p>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>
        <button type='button' id='btnchange' class='btn btn-primary'>Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div><!-- /.modal -->
