<div class="project-overview">
  <div class="pull-left overview-content-left">
    <h1 class='font_0 template-title-text project'> Project Board </h1>
    <div class='content-item product-feature-list'>
      <ul>
        <li> Easy to create project</li>
        <li> Quick to invite project member</li>
        <li> Setup project deadline</li>
        <li> Graphical view of project statistic</li>
        <li> Project notification</li>
      </ul>
    </div>
    <h1 class='font_0 template-title-text task'> Task Board </h1>
    <div class='content-item product-feature-list'>
      <ul>
        <li> Easy to create task</li>
        <li> Task details only click</li>
        <li> Easy to assign task to user</li>
        <li> Show task details progress</li>
        <li> Easy attached file and image</li>
        <li> Comments and replay</li>
      </ul>
    </div>
  </div>
  <div class="pull-right overview-content-right">
    <h1 class="font_0 template-title-text"> Right Content </h1>
    <div class="sign-in-wrapper">
    </div>
  </div>
  <div class="clearfix"></div>
</div>