<div id="dashboard" class="row-fluid">
  <%= render :partial => 'projects/project_nav', :locals => {:project => @project} %>
  <div class="task-content-wrapper">
    <div class="backlog task-category">
      <div class="title"> Backlog </div>
      <div class="task-content">
       <div class="task-item">
         First Task
       </div>
      </div>
    </div>

    <div class="project-sprint task-category">
      <div class="title"> To Do </div>
      <div class="task-content">  </div>
    </div>

    <div class="project-doing task-category">
      <div class="title"> Doing </div>
      <div class="task-content">  </div>
    </div>

    <div class="project-finish task-category">
      <div class="title"> Finish </div>
      <div class="task-content">  </div>
    </div>

    <div class="project-done task-category">
      <div class="title"> Done </div>
      <div class="task-content">  </div>
    </div>
  </div>
</div>