<div id="dashboard" class="row-fluid reset-margin">
  <div class="left-nav">
    <ul class="highlight list-group">
        <li class="nav-task-item">
          <span class="glyphicon glyphicon-th-list"></span> My Work
        </li>
      <li class="nav-task-item">
        <span class="glyphicon glyphicon-th-list"></span> All Task
      </li>
      <li class="nav-task-item">
        <span class="glyphicon glyphicon-th-list"></span> Bugs
      </li>
      <li class="nav-task-item">
        <span class="glyphicon glyphicon-th-list"></span> All Bugs
      </li>
      <li class="nav-task-item">
        <span class="glyphicon glyphicon-th-list"></span> All
      </li>
    </ul>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => 'pull-right' %>
  </div>
  <div class="reset-margin board-main-content">
    df dfs gdfg
  </div>
</div>
<%= link_to 'Create Team', 'javascript:void(0);', :class => 'new_team' %>