<div id="dashboard" class="row-fluid">
  <div class="project-nav reset-margin">
    <input type="text" id="search-field" class="form-control" placeholder="Search">
  </div>
  <div class="task-content-wrapper">
    <div class="project-backlog task-category">
      <div class="title"> Project Backlog </div>
      <div class="task-content">  </div>
    </div>

    <div class="project-sprint task-category">
      <div class="title"> To Do </div>
      <div class="task-content">  </div>
    </div>

    <div class="project-doing task-category">
      <div class="title"> Doing </div>
      <div class="task-content">  </div>
    </div>

    <div class="project-finish task-category">
      <div class="title"> Finish </div>
      <div class="task-content">  </div>
    </div>

    <div class="project-done task-category">
      <div class="title"> Done </div>
      <div class="task-content">  </div>
    </div>
  </div>
</div>