<div class="project-nav reset-margin">
  <div class="btn-group project-nav-control">
    <button type="button" class="btn btn-primary" id="btn-task">Task</button>
    <button type="button" class="btn btn-danger">Bug</button>
  </div>
  <% if is_project_owner!(project) %>
      <div class="project-nav-control add-project-member">
        <button type="button" class="btn btn-default">Invite team member</button>
      </div>
  <%end%>
  <div class="project-nav-control project-name">
    <a href="javascript:void(0);" class="btn btn-link"> <b> <%= project.name %> </b> </a>
  </div>
  <div class="project-nav-control pull-right">
    <input type="text" id="search-field" class="form-control" placeholder="Search">
  </div>
  <div class="clearfix"></div>
</div>

<%= render 'shared/large_modal' %>


<script type="text/javascript">
  $(document).ready(function(){

      $("#btn-task").click(function(){
          $.ajax({
              url:"<%= new_task_path() %>",
              type:"get",
              success:function(data){
                  $("#new-task").modal('show');
                  $("#new-task .modal-body").html(data);
                  $("#new-task .modal-title").html("New Task");
              },
              error:function(){
              }
          });
      });

      $("#btnSaveTask").click(function(){
          $.ajax({
              url:"<%= tasks_path() %>",
              type:"post",
              success:function(data){
                  $("#new-task").modal('hide');
              },
              error:function(){
              }
          });
      });
  });
</script>

