<div class="checklist-title">
  <form method="post" id="edit_checklist_{{id}}" data-remote="true" class="edit_checklist" action="/checklists/{{id}}" accept-charset="UTF-8"><div style="display:none"><input type="hidden" value="✓" name="utf8"><input type="hidden" value="patch" name="_method"></div>
    <input type="text" value="test" name="checklist[title]" id="checklist_title" class="hidden edit-check-item">
        <span class="editable">
          <i class="fa fa-tasks fa-task-item"> </i>
          <span class="checklist_title">{{title}} </span>
          <span class="checklist-counter">
             <i class="item_complete-12"><sup><%= complete_checklist_items("{{id}}") %></sup></i>/<i class="item_total-12"><sub>0</sub></i>
          </span>
        </span>
        <span class="checklist-action windows-action">
          <a rel="nofollow" href="javascript:void(0);" data-remote="true" data-method="delete" class="minimize-checklist reset-padding"><span class="fa fa-sort-asc"></span></a>
          <a rel="nofollow" href="/checklists/12?task_id=12" data-remote="true" data-method="delete" class="remove-checklist reset-padding"><span class="glyphicon glyphicon-remove"></span></a>
        </span>
  </form>  </div>