<script id="new-task-item" type="text/template">
  <div data-project-id="{{project_id}}" id="task-{{id}}" data-task-id="{{id}}" class="task-item {{task_type}} {{day_remaining_status}}">
    <div class="pull-left content-left">
      <ul>
        <li class="task-name"> {{title}} </li>
        <li>
          <span class="task-end-date">
            <i class="fa fa-calendar reset-margin fa-task-item task-element"></i> {{end_date}}
          </span>
        </li>
      </ul>
    </div>
    <div class="pull-right content-right">
      <ul>
        <li class='clearfix'>
          <div title="Priority {{priority}}" class="task-priority-{{priority}} pull-right">
            <i class="fa fa-signal fa-task-item">  </i>
          </div>
        </li>
        <li>
          <span class="total-effort"> {{effort}} </span> <i class="fa fa-clock-o fa-task-item"></i>
        </li>
        <li>
          <span class="glyphicon-class"></span>
          <img src='{{assign_member}}' class='nav-avatar img-circle' alt="Unassign"/>
        </li>
      </ul>
    </div>
    <div class="clear-fix"></div>
  </div>
</script>