<script id="notification-item-template" type="text/template">
  <li data-task-id="{{task_id}}" data-project-id="{{project_id}}">
    <a href="/project/{{project_id}}/tasks/{{task_id}}">
      <div class='pull-left'>
        <div class=' notification-image'>
          <img src="/assets/default_user_icon.png" alt="default user">
        </div>
      </div>
      <div class='pull-left'>
        <div class='notification-content'>
          {{message}}
        </div>
    <span class='notification-time'>
            <i> {{time_ago}} ago </i>
    </span>
      </div>
      <div class='clearfix'></div>
    </a>
  </li>
</script>