/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
    list-style: none;
}

.body-container {
    padding: 0 !important;
    height: 100%;
    overflow: hidden;
}

html.turbolinks-progress-bar::before {
    background-color: red !important;
    height: 5px !important;
}

a:hover, a:focus {
    color: #2a6496;
    text-decoration: none !important;
}

.comments-item-wrapper ul {
   margin-left: 15px !important;
}

.comments-item-wrapper ul li {
    padding: 2px 0px 3px 2px !important;
    list-style: square;
}

.general-menu {
    margin-right: 50px;
}

.general-menu li {
   display: inline-block;
}

.general-menu li a {
    font-weight: 700;
    color: #ffffff;
}

.general-menu li a:hover {
    color: #444444;
}

.notification-value.font-1 {
    font-size: 12px;
}

.notification-value.font-2 {
    font-size: 11px;
}

.notification-value.font-3 {
    font-size: 9px;
}

.main-temp-content {
    width: 100%;
    height: 550px;
    top: 0;
    background-image: url('slider/project_board.png');
    position: fixed;
    z-index: -1;
}

.second-content {
    height: 550px;
    background: #cccccc;
    width: 100%;
    z-index: 100;
}