div.attachment-icon[data-attachment-type$=".pdf"] {
    background-position: -162px -46px;
}

div.attachment-icon[data-attachment-type$='.docx'],
div.attachment-icon[data-attachment-type$='.doc'] {
    background-position: -219px -88px;
}

div.attachment-icon[data-attachment-type$=".exe"] {
    background-position: -203px 0;
}

div.attachment-icon {
    border: medium none;
    bottom: 0;
    height: 40px !important;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: -30px;
    width: 40px !important;
    background-repeat: no-repeat;
    background-image: url('attachmentcards.png');
    background-position: -121px -46px;
}