.add-checklist-wrapper {
    position: relative;
}

.add-checklist-wrapper #checklist-input {
    width: 100%;
    padding: 4px;
}

#checklist ul {
    padding: 5px;
}

#checklist ul li {
    min-height: 25px;
    padding: 3px;
    background: #F3F4F5;
    border: solid 1px #dfdfdf;
    margin-bottom: 5px;
}

#checklist ul li:last-child {
    border: 0;
    background: transparent;
}

#add-checklist {
    background: rgba(0, 0, 0, 0);
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 5px 10px 4px;
    background-size: 22px 22px;
}

.show-checklist {
    border: 4px solid #e4e4e4;
    border-radius: 4px;
    margin-bottom: 10px;
}

.show-checklist .checklist-title {
    background: none repeat scroll 0 0 / 20px 20px #e4e4e4;
    border: medium none;
    color: #444;
    font-size: 16px;
    font-weight: bold;
    padding: 7px 7px 7px 4px;
    position: relative;
}

.show-checklist .checklist-action {
    position: absolute;
    top: 0;
    right: 0;
}

.windows-action a {
    color: #245269;
    background: #dfdfdf;
    padding: 4px 9px 0 10px !important;
    border: solid 1px #ccc;
    border-top: none;
}

.windows-action a span {
    color: #aaa;
}

.windows-action a:hover {
   background: #0381BB;
}

.windows-action a:last-child {
    border-left: none;
    margin-left: -5px;
}

.show-checklist .checklist-title i {
    font-size: 18px;
}

.add-check-item,
.edit-check-item {
    border: 1px solid #dfdfdf;
    color: #555;
    margin: 5px 0;
    padding: 7px;
    width: 99%;
}

.checklist-item-completed {
    text-decoration: line-through;
}

.edit-check-item {
    width: 91%;
}

a.remove-checklist {
    color: red;
    height: 2px;
    padding: 2px 10px 0 0;
}

.editable {
    cursor: pointer;
    display: inline-block;
    width: 90%;
}

.checklist-item-action {
    display: none;
}
