.comments-item-wrapper {
    padding: 7px 4px;
    border-bottom: solid 2px #FDFDFD;
    border-radius: 4px;
    position: relative;
}

.comments-item-wrapper .comment-body {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 7px #eee;
    margin-left: 5px;
    min-height: 60px;
    padding: 4px 0 3px 10px;
    width: 100%;
}

.comments-user {
    margin-bottom: 5px;
    vertical-align: middle;
}

.comments-reply {
    top: 0;
    right: 0;
    position: absolute;
}

#btncmtcncel, #cancel-reply, #canceleditbtn {
    margin-right: 10px;
}

.comment-parent {
    padding-left: 10px;
    margin: 0 !important;
}

.reply-wrapper, .edit-wrapper {
    margin-top: 10px;
}

.button-padding {
    padding: 5px;
}

.task-comments-field {
    background: none repeat scroll 0 0 #fdfdfd;
    border: 1px solid #aaa;
    border-radius: 5px;
    color: #3a3a3a;
    font-size: 14px;
    height: 120px;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}