.custom-select-wrap {
    height: 34px;
    position:relative;
    display: inline-block;
    width: 100%;
    margin: 0 0px 10px 0px;
}
.custom-select-wrap span.selectInner {
    background: url("dropdown.png") no-repeat scroll right center transparent;
    border: 1px solid #d8d8d8;
    color: #333;
    display: inline-block;
    font-size: 1em;
    font-weight: normal;
    height: 34px;
    line-height: 34px;
    overflow: hidden;
    text-align: left;
    text-indent: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    z-index: 1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.custom-select-wrap select {
    height: 34px; /* set same height */
    position:absolute;
    left: 0;
    opacity:0;
    cursor: pointer;
    padding-left: 2px;
    padding-right: 28px;
    width: 100%;
    background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    -webkit-appearance: menulist-button;
}