#dashboard {
    width: 100%;
    overflow: auto;
    padding: 0 25px;
    min-width: 1250px;
}

#dashboard .task-content-wrapper {
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 5px #CCCCCC;
    overflow: auto;
}

#dashboard div.task-category {
    width: 20%;
    float: left;
    display: inline-block;
}

#dashboard div.task-category:last-child {
    border: none;
}

#dashboard div.task-category .title {
    border-bottom: 1px solid #ddd;
    color: #555555;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 0;
    text-align: center;
    text-shadow: 1px 0 3px #EEEEEE;
    background: none repeat scroll 0 0 #CDCDCD;
}

#dashboard div.task-category .task-content {
    min-height: 700px;
    border-right: solid 2px #cccccc;
}

#dashboard .project-nav {
    border-radius: 4px 4px 0 0 !important;
    vertical-align: top;
    box-shadow: none;
    height: auto !important;
    background: none repeat scroll 0 0 #C0C0C0;
    padding: 8px 0 6px 5px;
    background-image: linear-gradient(to bottom, #C0C0C0 0px, #CDCDCD 100%);
    border-bottom: 1px solid #FFFFFF;
}

#dashboard #search-field {
    color: #777777;
    font-size: 14px;
    height: 30px;
    width: 265px;
    margin: 1px 5px 0 0 !important;
}

.project-nav-control {
    float: left;
}

.project-nav-control.add-project-member {
    margin-left: 20px;
}

#dashboard .task-item {
    width: auto;
    border: solid 1px #ccc;
    border-radius: 4px;
    margin: 2px 5px 2px 5px;
    padding: 5px;
    cursor: crosshair;
    z-index: 999;
}

#dashboard .task-item:hover {
    background: #cccccc;
}

.ui-state-active {
    border: 1px solid #aaaaaa;
    background: #ffffff url(ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x !important;
    font-weight: normal;
    color: #212121;
} 


/* Task Item Design */

.task-item .content-left {
  width: 79.9%;
}

.task-item .content-right {
  width: 20%;
}

.task-item .task-name {
    min-height: 40px;
    overflow: hidden;
}