#dashboard {
    width: 100%;
    overflow: auto;
    padding: 0 25px;
    min-width: 1250px;
}

#dashboard .task-content-wrapper {
    #background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 5px #CCCCCC;
    overflow: auto;
    display: table;
}

#dashboard div.task-category {
    width: 20%;
    border-right: 2px solid #cccccc;
    display: table-cell;
}

#dashboard div.task-category:last-child {
    border: none;
}

#dashboard div.task-category .title {
    border-bottom: 2px solid #ddd;
    color: #555555;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 0;
    text-align: center;
    text-shadow: 1px 0 3px #EEEEEE;
    background: none repeat scroll 0 0 #f9f9f9;
}

#dashboard div.task-category .task-content {
    min-height: 700px;
}

/* Task color by task status category  */

#dashboard div.task-category.project-done .task-item {
    background: none repeat scroll 0 0 rgba(237, 239, 245, 0.98);
}

/*end*/

#dashboard .project-nav {
    border-radius: 4px 4px 0 0 !important;
    vertical-align: top;
    height: auto !important;
    background: none repeat scroll 0 0 #f9f9f9;
    padding: 8px 0 6px 5px;
    background-image : linear-gradient(to bottom, #C0C0C0 0 px, #CDCDCD 100%);
    border-bottom: 1px solid #FFFFFF;
}

#dashboard #search-field {
    color: #777777;
    font-size: 14px;
    height: 30px;
    width: 265px;
    margin: 1px 5px 0 0 !important;
    padding-left: 25px;
    background-image: url('search.png');
    background-position: 4px center;
    background-repeat: no-repeat;
    position: relative;
}

.project-nav-control {
    float: left;
}

.project-nav-control.add-project-member {
    margin-left: 20px;
}

#dashboard .task-item {
    width: auto;
    border: solid 1px #ccc;
    border-radius: 4px;
    margin: 2px 5px 2px 5px;
    padding: 2px 5px 5px 5px;
    cursor: move;
    z-index: 999;
}

#dashboard .task-item.feature {
    border-top: solid 3px #3276B1;
}

#dashboard .task-item.bug {
    border-top: solid 3px darkred;
}

#dashboard .task-item:hover {
    background: #cccccc;
}

.ui-state-active {
    border: 1px solid #aaaaaa;
    background: #ffffff url(ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x !important;
    font-weight: normal;
    color: #212121;
}

/* Task Item Design */

.task-item .content-left {
    width: 70.9%;
}

.task-item .content-right {
    width: 29%;
    text-align: center;
}

.task-item .task-name {
    min-height: 40px;
    overflow: hidden;
    min-width: 178px;
}

.task-item .assign-member {
    width: 20px;
    height: 20px;
    overflow: hidden;
}

.edit-end-date {
    border: medium none;
    cursor: pointer;
    display: inline-block;
    min-height: 21px;
    width: 100px;
}

.edit-end-date:hover {
    background-image: url("edit.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 15% 66%;
}

/* History item design */

#history {
    border-right: solid 1px #DFDFDF;
}

#history ul li:nth-child(odd) {
    padding: 3px 0;
}

#history ul li:nth-child(even) {
    padding: 3px 10px 3px 25px;
    background: none repeat scroll 0 0 #f2f5f7;
    border-radius: 4px;
}

#history ul li:nth-child(even) b {
    display: block;
}

.cross-image {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}