#dashboard {
    width: 100%;
    overflow: auto;
    padding: 0 25px;
    min-width: 1250px;
}

#dashboard .task-content-wrapper {
    #background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 5px #CCCCCC;
    overflow: auto;
    display: table;
}

#dashboard div.task-category {
    width: 20%;
    border-right: 2px solid #cccccc;
    display: table-cell;
    width: 274px;
    border-top: solid 1px #ccc;
}

/*#dashboard div.task-category:last-child {*/
    /*border: none;*/
/*}*/

#dashboard div.task-category .title {
    border-bottom: 2px solid #ccc;
    color: #555555;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 0;
    text-align: center;
    text-shadow: 1px 0 3px #EEEEEE;
    background: none repeat scroll 0 0 #DFDFDF;
    margin-bottom: 5px;
}

#dashboard div.task-category .task-content {
    min-height: 700px;
}

/* Task color by task status category  */

#dashboard div.task-category.project-done .task-item {
    background: none repeat scroll 0 0 #dff2bf;
}

/*end*/

#dashboard .project-nav {
    border-radius: 4px 4px 0 0 !important;
    vertical-align: top;
    height: auto !important;
    padding: 7px;
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 1px;
    background: #36a0d0; /* Old browsers */
    background: -moz-linear-gradient(top,  #36a0d0 0%, #41a1c6 50%, #5ab8dd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#36a0d0), color-stop(50%,#41a1c6), color-stop(100%,#5ab8dd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #36a0d0 0%,#41a1c6 50%,#5ab8dd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #36a0d0 0%,#41a1c6 50%,#5ab8dd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #36a0d0 0%,#41a1c6 50%,#5ab8dd 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #36a0d0 0%,#41a1c6 50%,#5ab8dd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36a0d0', endColorstr='#5ab8dd',GradientType=0 ); /* IE6-9 */

}

#dashboard #search-field {
    color: #777777;
    font-size: 14px;
    height: 30px;
    width: 265px;
    margin: 1px 5px 0 0 !important;
    padding-left: 25px;
    background-image: url('search.png');
    background-position: 4px center;
    background-repeat: no-repeat;
    position: relative;
}

.project-nav-control {
    float: left;
}

.project-nav-control.add-project-member {
    margin-left: 20px;
}

#dashboard .task-item {
    width: auto;
    border: solid 1px #ccc;
    border-radius: 4px;
    margin: 3px 5px;
    padding: 2px 5px 5px 5px;
    cursor: move;
    z-index: 999;
}

#dashboard .task-item.feature {
    border-top: solid 3px #3276B1;
}

#dashboard .task-item.bug {
    border-top: solid 3px darkred;
}

#dashboard .task-item .task-name {
    color: #444444;
}

#dashboard .task-item:hover {
    background: #cccccc;
}

.ui-state-active {
    border: 1px solid #aaaaaa;
    background: #ffffff url(ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x !important;
    font-weight: normal;
    color: #212121;
}

/* Task Item Design */

.task-item .content-left {
    width: 70.9%;
}

.task-item .content-right {
    width: 29%;
    text-align: center;
}

.task-item .task-name {
    min-height: 40px;
    overflow: hidden;
    min-width: 178px;
}

.task-item .assign-member {
    width: 20px;
    height: 20px;
    overflow: hidden;
}

.edit-end-date {
    border: medium none;
    cursor: pointer;
    display: inline-block;
    min-height: 21px;
    width: 100px;
}

.edit-end-date:hover {
    background-image: url("edit.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 15% 66%;
}

/* History item design */

#history {
    border-right: 1px solid #dfdfdf;
    width: 700px;
}

#history .history-list {
    overflow: hidden;
    height: 525px;
    position: relative;
}

#history ul li:nth-child(odd) {
    padding: 3px 0;
}

#history ul li:nth-child(even) {
    padding: 3px 10px 3px 25px;
    background: none repeat scroll 0 0 #f2f5f7;
    border-radius: 4px;
}

#history ul li:nth-child(even) b {
    display: block;
}

.clear-search {
    background: none repeat scroll 0 0 #dfdfdf;
    border-radius: 10px;
    bottom: 16px;
    cursor: pointer;
    display: inline-block;
    padding: 3px;
    position: absolute;
    right: 14px;
    top: inherit;
}

.clear-search:hover {
   box-shadow: 0 0 3px orangered;
}