#file-preview {
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999999;
    iframe {
      margin: 30px 50px 0 50px;
      padding: 5px;
      background: #ccc;
      border: solid 10px white;
      border-radius: 10px;
    }
}