// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.project-item {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  list-style: none;
}

.nav-avatar {
  width: 25px;
  height: 25px;
}