#container {
    margin-top: 36px;
}

.reset-margin {
    margin: 0 !important;
}

.inline {
    display: inline-block !important;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.clear-fix {
    float: none;
    clear: both;
}

.body-content {
    background-image: url("bg.png");
    display: block;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    padding-top: 5px;
    position: absolute;
    width: auto;
}

body {
    margin: 0;
    padding: 0;
}

form {
    margin-bottom: 0 !important;
}

.highlight {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-radius: 4px;
    margin: 0;
    list-style: none;
}

.reset-padding {
    padding: 0 !important;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.ajax-loader {
    background: none repeat scroll 0 0 #111;
    border-radius: 10px;
    box-shadow: 0 0 8px #777;
    left: 45%;
    padding: 10px;
    position: absolute;
    top: 45%;
    z-index: 999999;
}
.unread{
    background-color: #00AAE7 !important;
}