.task-detail-tab {
    background: -webkit-linear-gradient(#CDCDCD, #DFDFDF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#CDCDCD, #DFDFDF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#CDCDCD, #FDFDFD); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#CDCDCD, #EFEFEF); /* Standard syntax */
    border-radius: 5px 5px 0 0;
}

.task-detail-tab > li a {
    color: #777777;
    font-weight: 700;
}

.task-details-content-left {
  width: 700px;
}

.task-details-content-right {
    width: 250px;
}

.task-details-content-right .task-info {
    margin: 0;
    border: solid 1px #CDCDCD;
    min-height: 200px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.task-details-content-right .task-info .task-info-title {
    background: linear-gradient(#CDCDCD, #EFEFEF) repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 7px 5px;
    font-weight: 700;
    text-align: center;
    font-size: 18px;
    color: #777;
}

.task-details .tab-content div.tab-pane {
    padding: 5px;
}

.task-detail-tab > li a:hover {
   background: #ccc;
}

.task-details .task-name {
    margin: 6px 0 3px 0;
    color: #777777;
    font-size: 18px;
    margin-left: 10px;
}

.task-details .task-title {
    padding: 5px 0;
    margin-bottom: 10px;
    vertical-align: middle;
    border-bottom: solid 1px #CDCDCD;
}

.task-details .task-title label {
    margin: 0 !important;
    vertical-align: text-top;
}

.task-details .task-description {
    background-color: #FDF5E6;
    color: #777777;
    font-size: 14px;
    padding: 7px;
    border-radius: 3px;
}

.task-details .edit-task-description {
    height: 50px;
    width: 97%;
    border: dotted 1px #8a6d3b;
    background-color: #FDF5E6;
    resize: none;
    padding: 3px;
}

.task-details .task-description:hover {
    background-image: url('edit.png');
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
    color: #777777;
    font-size: 14px;
    padding: 7px;
}

.editable-content {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    overflow: auto;
    padding: 2px;
    resize: both;
    background-image: none !important;
    height: 150px;
}

#comments ul.comments-list {
  padding-left: 10px;
}

.add-attachment {
    background-image: url("attachment.png");
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px dotted #808080;
    border-radius: 2px;
    margin: 10px 0;
    width: 100%;
    cursor: pointer;
}

.add-attachment #attachment_file {
    width: 100%;
    height: 50px;
    display: block;
    margin: 0 !important;
    cursor: pointer;
    opacity: 0;
}

.attachment-list {
    margin-top: 5px;
    padding: 5px;
}

.attachment-list .attachment-item {
    border: 1px solid #A9A9A9;
    display: inline-block;
    height: 75px;
    margin-right: 10px;
    padding: 5px;
    width: 100px;
}

.attachment-list .attachment-item img {
    height: 100%;
    width: 100%;
}

.progress-bar {
    background-color: #1a1a1a;
    padding: 5px;
    margin: 50px 0;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

.progress-bar span {
    display: inline-block;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    transition: width .4s ease-in-out;
}

#write-comments .jqte_editor, .jqte_source{
    min-height: 120px !important;
}

#comments ul{
    margin-bottom: 15px;
}

.task-info .info-label{
    width:75px;
}
.task-info ul li {
  padding-left: 10px;
}
