.task-detail-tab {
    background: -webkit-linear-gradient(center top, #ffffff, #dcdcdc) repeat scroll 0 0 rgba(0, 0, 0, 0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(center top, #ffffff, #dcdcdc) repeat scroll 0 0 rgba(0, 0, 0, 0); /* For Opera 11.1 to 12.0 */
    background: linear-gradient(center top, #ffffff, #dcdcdc) repeat scroll 0 0 rgba(0, 0, 0, 0); /* Standard syntax */
    background: -moz-linear-gradient(center top, #ffffff, #dcdcdc) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 5px 5px 0 0;
}

.project-nav .btn-action {
    display: inline-block;
    margin-right: 5px;
    color: #fdfdfd;
    font-weight: 700;
    font-size: 11px;
    cursor: pointer;
}

.project-nav .btn-action img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.project-nav .bratcamp {
    width: 45%;
    text-align: center;
    color: #fdfdfd;
    font-weight: 700;
    font-size: 11px;
}

.btn-action.add-card {
    /*background-image: url('new_project_icon.png');*/
    /*background-repeat: no-repeat;*/
    /*background-position: left center;*/
}

.task-detail-tab > li a {
    color: #777777;
    font-weight: 700;
}

.task-details-content-left {
    width: 700px;
}

.task-details-content-right {
    width: 250px;
}

.task-details-content-right .task-info {
    margin: 0;
    border: solid 1px #CDCDCD;
    min-height: 200px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.task-details-content-right .task-info .task-info-title {
    background: linear-gradient(#CDCDCD, #EFEFEF) repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 7px 5px;
    font-weight: 700;
    text-align: center;
    font-size: 18px;
    color: #777;
}

.task-details .tab-content div.tab-pane {
    padding: 5px;
}

.task-detail-tab > li a:hover {
    background: #ccc;
}

.task-detail-tab > li a.remove_task {
    color: #dfdfdf !important;
}

.task-detail-tab > li a.remove_task:hover {
    background: inherit !important;
    color: #dfdfdf !important;
}

.task-details .task-name {
    margin: 6px 0 3px 10px;
    color: #777777;
    font-size: 18px;
}

.task-details .task-title {
    padding: 5px 0;
    margin-bottom: 10px;
    vertical-align: middle;
    border-bottom: solid 1px #CDCDCD;
}

.task-details .task-title label {
    margin: 0 !important;
    vertical-align: text-top;
}

.edit-task-label {
    display: inline-block;
    float: right;
    width: 115px;
}

.task-detail-title {
    cursor: default;
    padding: 5px;
}

.task-detail-title-edit {
    width: 500px;
    background: #FDF5E6;
    cursor: text;
}

.task-details .task-description {
    background-color: #FDF5E6;
    color: #777777;
    font-size: 14px;
    padding: 7px;
    border-radius: 3px;
}

.task-details .edit-task-description {
    height: 50px;
    width: 97%;
    border: dotted 1px #8a6d3b;
    background-color: #FDF5E6;
    resize: none;
    padding: 3px;
}

.task-details .task-description:hover {
    background-image: url('edit.png');
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
    color: #777777;
    font-size: 14px;
    padding: 7px;
}

.editable-content {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    overflow: auto;
    padding: 2px;
    resize: both;
    background-image: none !important;
    height: 150px;
}

#comments ul.comments-list {
    padding-left: 10px;
}

.comments-count {
    background: url("comment.png") no-repeat scroll center 2px / 100% 90% rgba(0, 0, 0, 0);
    color: #777;
    display: inline-block;
    font-size: 11px;
    height: 19px;
    min-width: 22px;
    text-align: center;
}

.add-attachment {
    background-image: url("attachment.png");
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px dotted #808080;
    border-radius: 2px;
    margin: 10px 0;
    width: 100%;
    cursor: pointer;
}

.add-attachment #attachment_file {
    width: 100%;
    height: 50px;
    display: block;
    margin: 0 !important;
    cursor: pointer;
    opacity: 0;
}

.attachment-list {
    margin-top: 5px;
    padding: 5px;
}

.attachment-list .attachment-item {
    border: 1px solid #A9A9A9;
    display: inline-block;
    height: 75px;
    margin-right: 10px;
    padding: 5px;
    width: 100px;
    vertical-align: top;
}

.has-attachment {
    display: inline-block;
    height: 18px;
    margin-left: 5px;
    width: 18px;
}

.attachment-list .attachment-item img {
    height: 100%;
    width: 100%;
}

.attachment-item {
    position: relative;
    cursor: pointer;
}

.attachment-hover-details > * {
    opacity: 1;
}

.attachment-hover-details {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

.attachment-action-wrapper {
    margin: 25px auto auto;
    text-align: center;
}

.attachment-action {
    background: none repeat scroll 0 0 #dfdfdf;
    border: 1px solid transparent;
    border-radius: 15px;
    display: inline-block;
    height: 25px;
    padding: 2px;
    width: 25px;
}

.attachment-action:hover {
    background: #fdfdfd;
}

.attachment-item, .attachment-action-wrapper .attachment-action img {
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.progress-bar {
    background-color: #1a1a1a;
    padding: 5px;
    margin: 50px 0;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

.progress-bar span {
    display: inline-block;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    transition: width .4s ease-in-out;
}

#write-comments .jqte {
    margin-bottom: 5px;
}

#write-comments .jqte_editor, .jqte_source {
    min-height: 120px !important;
}

#comments ul {
    margin-bottom: 15px;
}

.task-info .info-label {
    width: 96px;
}

.progress-info .info-label {
    width: 96px;
}

.task-info ul li {
    padding-left: 10px;
}

.priority-list {
    position: relative;
}

.priority-dropdown {
    position: absolute;
}

.progress-effort, .progress-spend, .progress-remaining, .task-priority {
    display: inline-block;
    width: 32px;
    height: 21px;
    padding-right: 2px;
}

.task-priority {
    cursor: pointer;
}

.progress-effort:hover, .progress-spend:hover {
    background-image: url('edit.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 42% 66%;
}

.unassigned-pophover {
    padding: 5px 8px;
    border: solid 1px #dfdfdf;
    box-shadow: 0px 1px 2px #ccc;
    border-radius: 4px;
    display: none;
    position: absolute;
    margin-top: 10px;
    background: #fdfdfd;
}

.unassigned-pophover:before, .priority-dropdown:before, .assigned-people-list:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7.5px 10px 7.5px;
    border-color: transparent transparent #efefef transparent;
    content: '';
    position: absolute;
    left: 10px;
    top: -10px;
}

.priority-dropdown:before {
    border-width: 0 7.5px 10px 7.5px;
    border-color: transparent transparent #dfdfdf transparent;
    left: 75%;
}

.unassigned-pophover a {
    display: block;
    text-decoration: none;
    background: none;
}

.unassigned-pophover a:hover {
    color: #333;
}

.assign-people {
    position: relative;
}

.assigned-people {
    cursor: pointer;
}

.assigned-people-list {
    left: -5px;
    margin-top: 12px;
    position: absolute;
}

.assigned-new-people {
    position: relative;
    cursor: pointer;
}

.container-fluid {
    margin: 0px;
    padding: 0px;
}

.left-side {
    width: 65%;
    float: left;
    margin-right: 20px;
}

.right-side {
    width: 31%;
    float: left;
}

.attachment-overlay {
    background-color: #000;
    left: 0;
    right: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9999;
    opacity: 0.7;
}

img.attachment-details {
    width: auto;
    height: auto;
    border: solid 10px #fdfdfd;
    border-radius: 4px;
    min-width: 250px;
}

.attachment-details-wrap {
    width: auto;
    height: auto;
    margin: auto;
    z-index: 99999;
    left: 40px;
    top: 40px;
    position: absolute;
    background: none repeat scroll 0 0 #555;
}

.attachment-details-wrap .attachment-title {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 10px;
    height: 25px;
    padding: 8px 8px 25px 8px;
    background: url("fancy_title_over.png");
    display: block;
    margin-left: 10px;
    color: #dfdfdf;
    font-weight: bold;
}

.attachment-details-wrap .close-attachment {
    background: none repeat scroll 0 0 #666;
    border-bottom: 2px solid red;
    color: #cccccc;
    padding: 6px;
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
}

.assign-people {
    position: relative;
}

/* Remaining date task background status*/

.finish_today {
   background: #ffbaba;
}

.finish_tomorrow {
   background: #feefb3;
}

.time_past {
   background: #d4d4d4;
}

.upcoming {
    background: #BDE5F8;
}

.finished_task {
    background: #dff2bf;
}

.bug-task {
    background: darkred;
}

.task-color-label-status span:nth-child(odd) {
    border: solid 1px #dfdfdf;
    border-radius: 2px;
}

.task-color-label-status span {
    display: inline-block;
    min-height: 15px;
    min-width: 15px;
    vertical-align: middle;
    color: #fdfdfd;
    font-weight: 600;
    font-size: 11px;
}

.project-nav .filter-popup {
    background: none repeat scroll 0 0 #fff;
    border-radius: 7px;
    box-shadow: 0 0 5px #555;
    display: none;
    margin-top: 7px;
    padding: 6px 5px 10px 10px;
    position: absolute;
}

.project-nav .filter-popup:before {
    border-bottom: 8px solid #fdfdfd;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    height: 10px;
    left: 225px;
    position: fixed;
    top: 66px;
}

.progressbar .ui-widget-header {
    border: none;
    border-radius: 0 !important;
    background: linear-gradient(to bottom, #36a0d0 0%, #41a1c6 50%, #5ab8dd 100%) repeat scroll 0 0 rgba(0, 0, 0, 0)!important;
}

.progress-text {
    position: absolute;
    left: 45%;
    color: #333;
}