// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sign-in-wrapper, .new-account {
  border-radius: 4px;
  box-shadow: 0 0px 1px #CCCCCC;
  padding: 10px 20px 10px 30px;
  width: 350px;
  margin: auto;
}

.new-account {
  position: relative !important;
  height: auto !important;
  margin-top: 20px;
}


.sign-in-wrapper label, .new-account label {
  display: block;
}

.new-account {
  width: 400px;
  height: 590px;
}

.sign-in-wrapper .sign-in-title, .profile-title {
  margin-top: 0;
  color: #333;
}

.profile-title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}

.sign-in-wrapper label {
  display: block;
  font-weight: 700;
  margin-top: 3px;
}

.sign-in-wrapper form {
  margin: 0;
}

#user_remember_me {
  margin-left: 0;
  margin-top: 2px;
}

.home-body {
  //background: #474A56;
  display: block;
  width: 100%;
  min-height: 100%;
  position: absolute;
  //background-image: url('process-bag.png');
  background-repeat: no-repeat;
}

.board-main-content {
  float: left;
  width: auto;
}

input {
  margin-bottom: 5px !important;
}
.image_show
{
  width: 40px;
  height: 40px;
}

.profile
{
  padding: 5px;
}

.setting
{
  background: none repeat scroll 0 0 #EEEEEE;
  border-radius: 4px;
  box-shadow: 0 1px 5px #CCCCCC;
  padding: 10px 20px 10px 30px;
  width: 850px;
  height: 600px;
  overflow: auto;
  margin: auto;
//  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.color_setting
{
  width: 100%;
  height: 100%;

}

.lebel_setting_color
{
  display: inline-block;
  width:150px;
}


.notification_setting
{
  width: 450px;
  height: 200px;

}

.navbar-nav > li > a.notification-menu {
  height: 25px;
  width: 25px;
  margin: 5px 10px 5px 5px;
  padding: 2px 5px !important;
  display: block;
  border-radius:15px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f89ba5), to(#cc0006));
  background: -moz-linear-gradient(top,#f89ba5,#cc0006);
  border:2px solid #fff;
  box-shadow: 0 1px 1px rgba(100, 100, 100, 0.5);
  text-shadow:none;
  color:#fff;
  text-align:center;
  line-height: 16px;
  font-size:11px;
  font-weight:bold;
  position: relative;
}

.notification-list:before {
  border-bottom: 6px solid #fdfdfd;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  right: 15px;
  top: -7px;
}

.notification-list {
  padding: 0 !important;
  width: 350px;
  height: 450px;
  overflow: hidden;
}

.notification-list ul {
  margin-top: 30px;
}

.notification-list .notification-title {
  position: fixed;
  padding: 5px;
  width: 348px;
  text-align: center;
  background: #FDFDFD;
  box-shadow: 1px 1px 3px #dfdfdf;
  z-index: 100000;
}

.notification-list .notification-image {
  width: 45px;
  height: 45px;
  margin-right: 8px;
}

.notification-list .notification-image img {
  width: 100%;
  height: 100%;
}


.notification-list .notification-content {
  width: 282px;
  height: 30px;
  word-wrap: break-word;
  white-space : normal;
  font-size: 12px;
  color: #333;
  line-height: 15px;
  overflow: hidden;
}

.notification-list .notification-time {
  background-image: url("date.png");
  background-position: 0px center;
  background-repeat: no-repeat;
  background-size: 13px 92%;
  display: block;
  font-size: 12px;
  height: 15px;
  padding-left: 23px;
}

.notification-list li a {
  padding: 5px;
  background: none repeat scroll 0 0 rgba(237, 239, 245, 0.98);
  border-bottom: solid 1px #d1d8e7;
  display: block;
}

.notification-list li a span {
  word-wrap: break-word;
  word-break: break-all;
}

.notification-list li a:hover {
  background: #F4F6F9;
  color: #333;
}

.navbar-nav > li > a.notification-menu:hover {
  background: #DFDFDF;
}

fieldset {
  border-radius: 10px;
  margin: 1em;
  padding: 2.0em 2.0em 2.0em 2.0em;
  position: relative;
  border: 3px solid #797979;

}

.modal-body.error {
  background-image: url("error.png");
  background-position: 15px 10px;
  background-repeat: no-repeat;
  color: #8B0000 !important;
  padding-left: 60px;
}

.modal-body.info {
  background-image: url("info.png");
  background-position: 15px 10px;
  background-repeat: no-repeat;
  color: #245269 !important;
  padding-left: 60px;
}

.placeholder {
  background-color: #BFB;
  border: 1px dashed #666;
  height: 70px;
  margin: 3px 5px 3px 5px;
}


/* Design landing page */

.top-nav-wrapper {
  background-image: linear-gradient(top, #ffffff, #dfdfdf);
  background-image: -moz-linear-gradient(top, #ffffff, #dfdfdf);
  padding: 6px 5px;
  height: 39px;
}

.product-description {
  background: none repeat scroll 0 0 #f9f9f9;
  padding: 8px 5px;
  text-align: center;
  //border-bottom: 4px solid #A5007E;
}

.product-description h1 {
  color: #a5007e;
  font-family: arial;
  font-size: 30px;
  margin-bottom: 5px;
  text-align: center;
  word-spacing: -1px;
}

.product-description p {
  margin-bottom: 10px !important;
  font-size: 15px;
  font-family: arial;
  font-weight: normal;
}

.project-overview {
  background: #FDFDFD;
  padding: 15px;
}

.project-overview .overview-content-left {
  width: 48%;
  margin: auto;
  text-align: center;
}

.project-overview .overview-content-right {
  width: 48%;
  margin: auto;
  border-left: solid 1px #ccc;
}

.overview-content-left img {
  height: 253px;
  width: 435px;
  margin: auto;
}

.product-feature-wrapper {
  background: none repeat scroll 0 0 #f9f9f9;
  padding: 15px;
}

.product-feature {
  width: 750px;
  margin: auto;
}

.product-footer {
  background: #353535;
  height: 66px;
}

.product-feature-list {
  width: 49%;
  margin-right: 1%;
  border-rihgt: solid 1px #ccc;
}

.product-feature-list h1 {
  font-family: arial;
  font-size: 30px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 25px;
}

.product-feature-list h1.task {
  background-image: url('task_board.png');
}

.product-feature-list h1.project {
  background-image: url('project_board.png');
}

.product-feature-list ul {
  padding-left: 25px;
}

.product-feature-list ul li {
  padding: 7px 22px;
  background-image: url('arrow.png');
  background-repeat: no-repeat;
  background-position: left center;
}