// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sign-in-wrapper, .new-account {
  background: none repeat scroll 0 0 #EEEEEE;
  border-radius: 4px;
  box-shadow: 0 1px 5px #CCCCCC;
  padding: 10px 20px 10px 30px;
  width: 350px;
  height: 330px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.new-account {
  position: relative !important;
  height: auto !important;
  margin-top: 20px;
}


.sign-in-wrapper label, .new-account label {
  display: block;
}

.new-account {
  width: 400px;
  height: 590px;
}

.sign-in-wrapper .sign-in-title, .profile-title {
  margin-top: 0;
  color: #333;
}

.profile-title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}

.sign-in-wrapper label {
  display: block;
  font-weight: 700;
  margin-top: 3px;
}

.sign-in-wrapper form {
  margin: 0;
}

.home-body {
  background: #474A56;
  display: block;
  width: 100%;
  min-height: 100%;
  position: absolute;
  background-image: url('process-bag.png');
  background-repeat: no-repeat;
}

.board-main-content {
  float: left;
  width: auto;
}

input {
  margin-bottom: 5px !important;
}
.image_show
{
  width: 40px;
  height: 40px;
}

.profile
{
  padding: 5px;
}

.setting
{
  background: none repeat scroll 0 0 #EEEEEE;
  border-radius: 4px;
  box-shadow: 0 1px 5px #CCCCCC;
  padding: 10px 20px 10px 30px;
  width: 850px;
  height: 600px;
  overflow: auto;
  margin: auto;
//  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.color_setting
{
  width: 100%;
  height: 100%;

}

.lebel_setting_color
{
  display: inline-block;
  width:150px;
}


.notification_setting
{
  width: 450px;
  height: 200px;

}
fieldset {
  border-radius: 10px;
  margin: 1em;
  padding: 2.0em 2.0em 2.0em 2.0em;
  position: relative;
  border: 3px solid #797979;

}

.modal-body.error {
  background-image: url("error.png");
  background-position: 15px 10px;
  background-repeat: no-repeat;
  color: #8B0000 !important;
  padding-left: 60px;
}

.modal-body.info {
  background-image: url("info.png");
  background-position: 15px 10px;
  background-repeat: no-repeat;
  color: #245269 !important;
  padding-left: 60px;
}

.placeholder {
  background-color: #BFB;
  border: 1px dashed #666;
  height: 70px;
  margin-bottom: 5px;
  margin: 3px 5px 3px 5px;
}