<nav class="navbar navbar-default" role="navigation">
  <ul class="nav navbar-nav">
    <li>
      <b> <%= current_user.name %> </b>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a data-toggle="dropdown" class="dropdown-toggle settings-dropdown" href="#"> <img src="assets/settings.png"> </a>
      <ul role="menu" class="dropdown-menu" aria-labelledby="dLabel">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
        <li class="divider"></li>
        <li><a href="#">One more separated link</a></li>
      </ul>
    </li>
  </ul>
</nav>
